/* User Profile & Dropdown */
.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    gap: 0.5rem;
}

.dropdown-icon {
    font-size: 0.8rem;
    transition: transform 0.3s ease;
}

.dropdown-icon.rotate {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    margin-top: 0.5rem;
    width: 120px;
    z-index: 100;
}

.logout-btn {
    background: none;
    border: none;
    width: 100%;
    padding: 0.75rem 1rem;
    text-align: left;
    cursor: pointer;
    font-size: 0.9rem;
    color: #e74c3c;
    transition: background 0.2s;
}


.logout-btn:hover {
    background-color: #fceceb;
}

.dashboard-header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white
}
